.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.scontainer {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    background: #fff;
    margin: 1.2rem;
    gap: 22vw;
}

.logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.logo-header img {
    background-color: #fff;
    width: 65px;
    height: 65px;
}

.logo-header h2 {
    background-color: #fff;
}

.logo-header input {
    background-color: #fff;
    height: 5px;
    width: 35vw;
    border: 1px solid #1C1C1C;
    border-radius: 1.8rem;
    font-size: 1.2rem;
    padding: 1rem 0 .8rem 3rem;
    margin: -2rem;
}

@media (max-width: 1330px) {
    .scontainer {
        gap: 15vw;
    }
}

@media (max-height: 640px) {
    .header {
        height: 15vh;
    }
}