.category {
    width: 18rem;
}

.container-catalog {
    display: flex;
    margin: -5vh 12vw;
}

.catalog {
    display: grid;
    flex-direction: row;
    gap: 5rem;
    grid-template-columns:  repeat(4, 1fr);
}

.container-product {
    width: 12rem;
}

.container-accordion{
    margin: 7rem;
}

.container-list {
    margin: 7rem;
    height: 50vh;
    width: 95%;
}

.content-list {
    height: 80vh;
}

.list-product {
    width: 20%;
}

.list-content{
    width: 80%;
    height: 100%;
}

.object-content h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.value-product {
    display: grid;
    margin-bottom: 3rem;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.cart-shopping {
    padding: 1rem;
    margin: 1rem;
}

.btn-hide:hover {
    cursor: pointer;
}

.lista-produto{
    text-decoration: none;
}

.lista-produto:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);    
}

.produto-comprar{
    margin: 5rem;
}

.compra-value img{
    height: 70vh;
    width: 60vw;
}

.content-step{
    margin: 5rem;
}

.container-pay {
    margin: 2rem;
    padding: 2rem;
    width: 60vw;
    border-radius: 8px;
    border: 1px solid #aaaaaa;
}

.modal-img {
    width: 20vw;
}

@media (max-width: 1370px) {
    .container-catalog {
        margin: -5vh 5vw;
    }

    .catalog {
        gap: .4rem;
        grid-template-columns:  repeat(4, 1fr);
    }

}