.user {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-color: transparent;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user:hover img {
    cursor: pointer;
    transform: scale(1.5, 1.5);
}   

.userPerfil {
    color: #000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    margin:  0 0 -16.8rem -20rem;
    width: 150px;
    padding: 1.2rem;
    border-radius: .8rem;
    background: #fff;
    z-index: 100;
}

.userPerfil h2 {
    background-color: transparent;
}

.userContent {
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
}

.userContent:hover {
    cursor: pointer;
}

.container-gear {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.content-gear {
    display: flex;
    margin: 5rem;
    border: 1px solid #aaa;
    width: 92vw;
    height: 85vh;
    
}

.container-heart {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.content-heart {
    display: flex;
    margin: 5rem;
    border: 1px solid #aaa;
    width: 92vw;
    height: 85vh;
    
}

.container-check {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.content-check {
    display: flex;
    margin: 20rem 36rem;
    border: 1px solid #aaa;
    width: 40vw;
    height: 40vh;
    
}